# ignore all files
*
# ignore all files in directories
*/**
# but recognize that directories exists
!/*/
# Since an "empty" directory will be ignored, to whitelist do: '!/directory/*'

!.gitignore
!/bash_profile
!/profile
!/env
!/ssh_config
!/symlinks
!/userChrome.css
!/userContent.css
!/xinitrc
!/gitconfig
!/package.list
!/compton.conf
!/inputrc
!/alacritty.yml
!/user-dirs.dirs

!/bspwm/*
!/sxhkd/*
!/bin/**
!/ssh/*
!/polybar/*
!/neofetch/*
!/htop/*
!/pythonlib/**/*
!/xresources/**/*
!/fontconfig/**

!/vim/vimrc
!/mpd/mpd.conf
!/openvpn/start-vpn
!/yaourt/yaourtrc
!/ncmpcpp/config
!/dunst/dunstrc

!/zsh/*
/zsh/.zcompdump
/zsh/.zsh_plugins.sh

!/ranger/*
/ranger/bookmarks
/ranger/history
/ranger/tagged

!/shell_functions/*
/shell_functions/*.remote.sh

*.log
*.pid
*.sw[po]
**/__pycache__
*.pyc
