*log
*.sw[po]
**/__pycache__
*.pyc

/vim/plugged
/configstore
/zsh/.zcompdump
/vim/.netrwhist
/Slack
/dconf
/pulse
/ranger/bookmarks
/ranger/history
/gtk-*
/mpd/*
!/mpd/mpd.conf
/pavucontrol.ini
/Franz
/autostart
/gconf
/mimeapps.list
/google-chrome
/vim/view
/composer
/menus
/shell_functions/*.remote.sh
/Atom
/docker/
!/docker/daemon.conf
/mpv
/openvpn/*
!/openvpn/start-vpn
