# ignore all files
*
# ignore all files in directories
*/**
# but recognize that directories exists
!/*/
# Since an "empty" directory will be ignored, to whitelist do: '!/directory/*'

!.gitignore
!/bash_profile
!/profile
!/ssh_config
!/symlinks
!/userChrome.css
!/userContent.css
!/xinitrc
!/gitconfig
!/package.list
!/env

!/bspwm/*
!/sxhkd/*
!/bin/*
!/ssh/*
!/rofi/*
!/polybar/*
/polybar/*.log
!/neofetch/*
!/compton/config
!/htop/*
!/pythonlib/**/*
!/xresources/**/*

!/vim/vimrc
!/mpd/mpd.conf
!/openvpn/start-vpn
!/yaourt/yaourtrc
!/ncmpcpp/config

!/zsh/*
/zsh/.zcompdump

!/ranger/*
/ranger/bookmarks
/ranger/history
/ranger/tagged

!/shell_functions/*
/shell_functions/*.remote.sh

*log
*.sw[po]
**/__pycache__
*.pyc
