Include ~/.ssh/config_private
SendEnv LANG

Host firewall
	user	gekkey
	IdentityFile ~/.ssh/id_rsa-gekkey
	IdentitiesOnly yes

Host gekkey.github.com
	HostName github.com
	User git
	IdentityFile ~/.ssh/id_rsa-gekkey
	IdentitiesOnly yes

Host github.com
	IdentityFile ~/.ssh/id_rsa-vitruvius

Host debian
	HostName localhost
	Port 10022
