@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


/* Tree Tab shit */
#TabsToolbar {
    visibility: collapse !important;
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
  display: none;
}


/* URL Bar */
.urlbar-go-button, .urlbar-history-dropmarker, #pocket-button-box, #star-button:not([starred="true"]), #pageActionSeparator {
  display: none;
}
